extends layout

block content
  .container.mt-4
    .row.justify-content-center
      .col-md-10.col-lg-8
        .about-page
          h1.text-center.mb-12 About Vanity Vault
          .about-content
            .card
              .card-body
                p.card-text
                  | The Vanity Vault is a simple Express.js application which allows users to register accounts, login, and view reviewed beauty products. Pug files, which use Bootstrap components, such as a grid and cards, create the responsive and consistent views (UI pages). MongoDB Atlas is used to store the database on the cloud which is beneficial as it is fully managed. Atlas handles many administrative tasks like backups, scaling, and maintenance. The database schema is created using Mongoose, an Object Data Modelling (ODM) library for MongoDB.
                
      .col-md-2.col-lg-4
          .tech-stack.mt-5
            h3.text-center.mb-12 Technology Stack
            .row.text-center
              .col-md-12.col-6.mb-8
                .tech-item
                  i.fab.fa-node-js.fa-2x.text-success.mb-2
                  h6 Express.js
              .col-md-12.col-6.mb-8
                .tech-item
                  i.fas.fa-database.fa-2x.text-info.mb-2
                  h6 MongoDB Atlas
              .col-md-12.col-6.mb-8
                .tech-item
                  i.fas.fa-leaf.fa-2x.text-success.mb-2
                  h6 Mongoose ODM
              .col-md-12.col-6.mb-8
                .tech-item
                  i.fab.fa-bootstrap.fa-2x.text-primary.mb-2
                  h6 Bootstrap