extends layout

block content
  div.container.text-center(style="background-color: #ececec; padding: 10px;")
    div.row
      div.col-sm-12.col-md-6(class="text-wrap")
        .card(style="width: 50%;")
          .card-body Content
      div.col-sm-12.col-md-6
        .card(style="width: 50%;")
          .card-body Content