extends layout

block content
  div.register-container
    h2(class='text-center mb-4' style="font-weight: bold;")
      | Create New Account
    p(class='text-center')
        | Already Registered? 
        a(href='/login' style="color: #bd4f98")
          | Sign in
    
    if error
      div.alert.alert-danger(role="alert")= error
    
    form(action='/register' method='POST')
      div(style="margin-bottom: 20px;")
        label.form-label(for='forename')
          | Forename
        input#name.form-control(type='text' name='forename' required='required' placeholder='Enter your forename')
      div(style="margin-bottom: 20px;")
        label.form-label(for='surname')
          | Surname
        input#name.form-control(type='text' name='surname' required='required' placeholder='Enter your surname')
      div(style="margin-bottom: 20px;")
        label.form-label(for='email')
          | Email Address
        input#email.form-control(type='email' name='email' required='required' placeholder='Enter your email')
      div(style="margin-bottom: 20px;")
        label.form-label(for='telNo')
          | Phone Number
        input#telNo.form-control(type='tel' name='telNo' required='required' placeholder='Enter your phone number')
      div(style="margin-bottom: 20px;")
        label.form-label(for='password')
          | Password
        input#password.form-control(type='password' name='password' required='required' placeholder='Enter your password' minlength='6')
      div(class='text-center')
        button(class='btn btn-primary text-center' style="width: 150px;" type='submit')
          | Sign Up
    div(class='text-center mt-3')