doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
  body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.d-flex.justify-content-space-between
      a.navbar-brand(href='/about' style="color: #bd4f98; width: 10%; font-weight: lighter; text-align: center") about us
      a.navbar-brand(href='/' style="color: #bd4f98; width: 80%; font-weight: bold; text-align: center") the vanity vault
      a.navbar-brand(href='' style="color: #bd4f98; width: 10%; font-weight: lighter; text-align: center") T00244486
    .container
      block content
      footer
        .row
          .col-12
            small &copy; Clodagh Mulvihill | 2025
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')


