extends layout

block content
  div.register-container
    h2(class='text-center mb-4' style="font-weight: bold;")
      | Login To Existing Account
    p(class='text-center')
        | Don't Have An Account? 
        a(href='/' style="color: #bd4f98")
          |Register
    form(action='/login' method='GET')
      div(style="margin-bottom: 20px;")
        label.form-label(for='email')
          | Email Address
        input#email.form-control(type='email' name='email' required='required' placeholder='Enter your email')
      div(style="margin-bottom: 20px;")
        label.form-label(for='password')
          | Password
        input#password.form-control(type='password' name='password' required='required' placeholder='Enter your password' minlength='6')
      div(class='text-center')
        button(class='btn btn-primary text-center' style="width: 150px;" type='submit')
          | Login
    div(class='text-center mt-3')
      